/* PC */
@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.8px) {
    .hide-on_mobile {
        display: none;
    }

    .navbar ul,
    .email-link {
        display: none;
    }

    .header__inner {
        position: relative;
    }

    .emoji {
        position: absolute;
        left: -25%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .email {
        position: absolute;
        right: 12%;
        transform: translate(0, -15%);
    }

    .email::after {
        top: -90%;
    }

    .toggle-menu::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        right: 28px;
        top: -16px;
        border: 1px solid #5d3bee;
        opacity: 0.2;
    }

    .toggle-menu svg {
        position: absolute;
        right: 30px;
        transform: translate(-50%, -50%);
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 0 0 30%;
        padding: 50px;
        background: #fff;
        z-index: 1;
        transform: translateX(100%);
        transition: 0.4s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 20px 0;
        color: #51586a;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translate(0);
    }

    .email-mobile {
        display: flex;
        gap: 21px;
    }

    .email-link-mobile {
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.36;
        text-decoration-line: underline;
    }

    /* Hero */
    .hero {
        margin-top: -160px;
    }

    .hero__reverse {
        flex-direction: column-reverse;
    }

    .hero__media {
        margin: 60px 0 0 90px;
    }

    .hero__content {
        text-align: center;
        margin: 80px 0 0 110px;
    }

    .hero__desc {
        margin-left: 50px;
    }

    .hero__cta,
    .hero__social {
        margin-left: 90px;
    }

    .hero__icon-1 {
        left: -120px;
        top: 650px;
    }

    .hero__icon-2 {
        display: none;
    }

    .hero__sub-heading {
        text-align: center;
    }

    .hero__sub-heading::before {
        width: 48px;
        height: 3px;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .client-col {
        margin-top: 41px;
        flex-direction: column;
        row-gap: 35px;
    }

    .warner__img {
        margin-left: 30px;
    }

    .mailchimp__img {
        margin-left: 24px;
    }

    .cloud__img {
        margin-left: 50px;
    }

    .woocommerce__img {
        margin-left: 54px;
    }

    .canva__img {
        margin-left: -10px;
    }

    .work__inner {
        position: relative;
        text-align: center;
    }

    .work__item-link {
        display: block;
    }

    .work__list {
        overflow: hidden;
        column-gap: 0;
    }

    .work__item {
        margin-top: 5px;
        flex-shrink: 0;
        width: 100%;
        text-align: center;
        transition: 0.5s ease;
    }

    .work__item-link {
        display: block;
    }

    .work__item-desc {
        width: 350px;
        margin: 0 auto;
    }

    .project__inner {
        display: block;
        text-align: center;
    }

    .project__heading {
        margin: 0 auto;
    }

    .project__desc,
    .project__item {
        margin: 20px auto;
    }

    .work__dot-2:checked ~ .work__item {
        transform: translateX(-100%);
    }

    .work__dot-3:checked ~ .work__item {
        transform: translateX(-200%);
    }

    .dot-2:checked ~ .dot-active {
        transform: translateX(-32px);
    }

    .dot-1:checked ~ .dot-active {
        transform: translateX(-60px);
    }

    .dot-4:checked ~ .dot-active {
        transform: translateX(24px);
    }

    .dot-5:checked ~ .dot-active {
        transform: translateX(52px);
    }

    .about__list {
        justify-content: center;
    }

    .dot-active {
        left: 50%;
        transform: translateX(-50%);
    }

    .work__dot-active {
        left: 43%;
        transform: translateX(-20%);
    }

    .feedback__desc,
    .blockquote {
        width: 80%;
    }

    .question__item,
    .question__separate {
        width: 100%;
    }

    .atmos__thumb {
        margin-top: 30px;
    }

    /* Footer */
    .mobile-footer {
        padding-bottom: 30px;
    }

    .footer__inner {
        margin-top: 70px;
        position: relative;
        text-align: center;
    }

    .copyright__link {
        display: inline-block;
    }

    .copyright__term {
        margin-left: 36px;
    }

    .footer-emoji {
        position: absolute;
        width: 80px;
        height: 80px;
        object-fit: cover;
        top: -100px;
        right: 50%;
        transform: translateX(50%);
    }

    .copyright__info {
        margin-top: 50px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.8px) {
}

/* Mobile */
@media screen and (max-width: 767.8px) {
    .menu-drawer {
        padding: 30px;
        inset: 0 0 0 15%;
    }

    .emoji {
        position: absolute;
        left: -50%;
        transform: translateX(15%);
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .email {
        position: absolute;
        right: 20%;
        transform: translate(0, -15%);
    }

    .email::after {
        top: -90%;
    }

    .hero__content {
        margin: 66px 0 0 -50px;
        text-align: left;
        padding-left: 30px;
    }

    .hero__heading {
        width: 260px;
        font-size: 4.2rem;
        margin-left: 50px;
    }

    .hero__desc {
        width: 318px;
        font-size: 1.6rem;
    }

    .hero__cta {
        margin: 30px 0 0 50px;
    }

    .btn {
        width: 147px;
        height: 55px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.875;
    }

    .hero__link {
        font-size: 1.6rem;
        text-wrap: nowrap;
    }

    .hero__social {
        margin: 30px 0 0 50px;
    }

    .hero__img {
        margin: -30px 0 0 -25px;
        width: 259px;
        height: 100%;
    }

    .hero__icon-1 {
        top: 340px;
        left: -260px;
    }

    .client-col {
        margin-left: -40px;
    }

    .client__name {
        font-size: 1.2rem;
    }

    .cloud__img {
        margin-left: 35px;
    }

    .hero__client-link span {
        font-size: 1.4rem;
    }

    .work__heading {
        font-size: 3.6rem;
    }

    .work__desc {
        width: 350px;
        font-size: 1.6rem;
    }

    .work__item-desc {
        width: 250px;
        font-size: 1.6rem;
    }

    .work__dot-2:checked ~ .work__dot-active {
        transform: translateX(26.5px);
    }

    .work__dot-3:checked ~ .work__dot-active {
        transform: translateX(54.5px);
    }

    .project__inner {
        margin-left: -80px;
    }

    .project__heading {
        font-size: 3.6rem;
    }

    .project__desc {
        font-size: 1.6rem;
    }

    .project__item {
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
    }

    .project__item-heading {
        width: 150px;
        font-size: 2rem;
        text-wrap: nowrap;
        letter-spacing: -0.96px;
    }

    .project__item-desc {
        font-size: 1.1rem;
        line-height: 1.42;
    }

    .project__thumb {
        width: 122px;
        height: 93px;
        object-fit: cover;
    }

    .project__link {
        font-size: 1.6rem;
    }

    .about__staff-info {
        font-size: 2rem;
    }

    .about-icon {
        margin-top: -12px;
        width: 18px;
        height: 18px;
        object-fit: cover;
    }

    .about__list {
        column-gap: 80px;
        margin-left: 30px;
    }

    .about__heading,
    .feedback__heading {
        margin-left: 12px;
        font-size: 3.6rem;
    }

    .about__desc,
    .feedback__desc,
    .atmos__desc,
    .contact__desc {
        font-size: 1.6rem;
        max-width: 350px;
    }

    .about__experience-number {
        font-size: 3rem;
    }

    .about__experience-desc {
        font-size: 1.6rem;
        width: 83px;
    }

    .about__video {
        width: 90%;
        margin: 40px auto 0 auto;
    }

    .blockquote {
        font-size: 1.8rem;
    }

    .feedback__username {
        font-size: 2.4rem;
    }

    .question__item {
        width: 97%;
    }

    .question__separate {
        width: 100%;
        top: 120px;
    }

    .question__heading {
        font-size: 3.6rem;
        margin-left: 20px;
        width: 316px;
    }

    .question__text {
        font-size: 2.4rem;
        width: 264px;
        margin-left: 20px;
    }

    .answer {
        margin-left: 20px;
        font-size: 16px;
        width: 316px;
    }

    .atmos__heading {
        font-size: 3.6rem;
    }

    .atmos__link {
        font-size: 2rem;
    }

    .atmos__thumb {
        display: block;
        width: 90%;
        margin: 20px auto 0 auto;
    }

    .contact__heading {
        font-size: 3.6rem;
    }
}
