*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --heading-color: #080415;
    --desc-color: #51586a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

.container,
.container-fluid {
    padding: 0;
}

/* Common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    line-height: var(--height);
    border: none;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    background: #5d3bee;
    color: #fdfdfd;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
    color: var(--heading-color);
}

.section-desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: var(--desc-color);
}

/* Header */
header {
    padding: 58px 0;
    background: #fbfaff;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email {
    display: flex;
    position: relative;
    gap: 21px;
}

.email::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -11px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #5d3bee;
    opacity: 0.2;
}

.emoji {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 205px;
}

.email-link {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 22px;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--desc-color);
}

/* Hero */
.hero {
    background: #fbfaff;
}

.hero__inner {
    position: relative;
}

.hero__media {
    display: flex;
}

.hero__img {
    width: 514px;
    height: 705px;
    object-fit: cover;
}

.hero__content {
    margin: 141px 0 0 50px;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    max-width: 500px;
}

.hero__desc {
    margin-top: 20px;
    font-weight: 400;
    max-width: 370px;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
}

.hero__social {
    margin-top: 109px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__icon-1,
.hero__icon-2 {
    position: absolute;
}

.hero__icon-1 {
    left: -220px;
    top: -80px;
}

.hero__icon-2 {
    right: 0;
    bottom: 0;
}

.hero__client {
    margin-top: 100px;
    background: #fff;
}

.hero__sub-heading {
    position: relative;
    width: 253px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.12;
}

.hero__sub-heading::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 86px;
    height: 2px;
    background: #5d3bee;
    top: 20px;
    left: -99px;
}

.client-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__client-link {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.hero__client-link span {
    color: #080415;
    font-size: 1.6rem;
    font-weight: 500;
}

.client__img {
    border-radius: 50%;
}

.warner__img {
    margin-left: -28px;
    background: #fbfaff;
    padding: 9.5px 11px;
}

.mailchimp__img {
    background: #fee101;
    padding: 5px;
    margin-left: -20px;
}

.adobe__img {
    background: #f00;
    padding: 7.5px;
}

.upwork__img {
    background: #14a800;
    padding: 5px;
}

.cloud__img {
    background: #fff;
    padding: 7px;
}

.woocommerce__img {
    background: #7f54b3;
    padding: 5px;
}

.canva__img {
    margin-right: 2px;
}

/* Work */
.work {
    margin-top: 133px;
    background: #fff;
}

.work__desc {
    display: flex;
    align-items: center;
    width: 534px;
    margin: 20px auto;
}

.work__heading,
.work__desc {
    text-align: center;
}

.work__list {
    display: flex;
    align-items: center;
    column-gap: 110px;
}

.work__item {
    margin-top: 60px;
    padding: 32px 42px;
}

.work__item-link:hover {
    text-decoration: none;
    opacity: 0.9;
}

.work__item-link:hover .work__thumb {
    transform: scale(1.2);
}

.work__thumb {
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 50%;
}

.work__item-heading {
    margin: 22px 0 15px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.work__item-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

/* Project */
.project {
    padding: 0 40px;
    margin-top: 140px;
    background: #5d3bee;
    padding-bottom: 86px;
}

.project__inner {
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading {
    width: 468px;
    color: #fff;
}

.project__desc {
    display: flex;
    width: 370px;
    color: #fff;
    margin-right: 172px;
    opacity: 0.7;
}

.project__item {
    margin-top: 70px;
    background: #fbfaff;
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
}

.project__item-shift {
    margin-top: 30px;
}

.project__item-heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.project__item-desc {
    margin: 10px 0 20px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44;
}

.project__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.project-btn {
    margin-top: 80px;
    color: #080415;
    background: #fff;
}

/* About */
.about {
    margin-top: 140px;
}

.about__inner {
    text-align: center;
}

.about__staff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__staff-info {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    margin: 0 9px 10px 0;
}

.about__desc {
    width: 570px;
    margin: 15px auto 0 auto;
}

.about__experience {
    margin-top: 90px;
}

.about__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 190px;
}

.about__list::before,
.about__list::after {
    content: "";
    position: absolute;
    width: 946px;
    height: 1px;
    background: #080415;
    opacity: 0.2;
}

.about__list::before {
    top: 60px;
}

.about__list::after {
    bottom: -20px;
}

.about__experience-number {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.about__experience-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.about__video {
    margin-top: 90px;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.about__video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Feedback */
.feedback {
    margin: 150px 0;
    background: #fbfaff;
}

.feedback__inner {
    position: relative;
    text-align: center;
}

.feedback__desc {
    width: 570px;
    margin: 20px auto 0;
}

.feedback__list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feedback__item {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
}

.blockquote {
    display: inline-block;
    width: 679px;
    color: #51586a;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67;
}

.feedback__info {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    column-gap: 15px;
}

.feedback-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback__username {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.feedback__user {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
}

.feedback__dots {
    position: relative;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.feedback__dot {
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background: #cac9d0;
}

.feedback__dot:hover {
    cursor: pointer;
}

.dot-active {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #5d3bee;
    left: 656px;
    bottom: 4px;
    z-index: 99;
    transition: 0.5s ease;
}

.dot-1,
.work__dot-1,
.dot-2,
.work__dot-2,
.dot-3,
.work__dot-3,
.dot-4,
.dot-5 {
    display: none;
}

.dot-2:checked ~ .feedback__item {
    transform: translateX(-100%);
}

.dot-3:checked ~ .feedback__item {
    transform: translateX(-200%);
}

.dot-4:checked ~ .feedback__item {
    transform: translateX(-300%);
}

.dot-5:checked ~ .feedback__item {
    transform: translateX(-400%);
}

.dot-2:checked ~ .dot-active {
    transform: translateX(-28px);
}

.dot-1:checked ~ .dot-active {
    transform: translateX(-56px);
}

.dot-4:checked ~ .dot-active {
    transform: translateX(28px);
}

.dot-5:checked ~ .dot-active {
    transform: translateX(56px);
}

/* Question */
.question {
    margin-top: 19px;
}

.question__heading {
    width: 575px;
}

.question__item {
    position: relative;
    width: 1010px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__text {
    margin-top: 27px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    transition: color, translate 0.5s ease;
}

.answer {
    width: 487px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    opacity: 0;
    transform-origin: left top;
    scale: 0;
    visibility: hidden;
    transition: 0.5s ease;
}

.question__separate {
    display: inline-block;
    position: absolute;
    width: 1009px;
    height: 1px;
    background: #08182f;
    top: 96px;
    left: 0;
    transition: translate 0.25s ease;
}

.answer-checkbox-1,
.answer-checkbox-2,
.answer-checkbox-3,
.answer-checkbox-4,
.answer-checkbox-5 {
    position: relative;
    display: block;
    cursor: pointer;
    background: transparent;
}

.question__content input {
    display: none;
}

.question__content span {
    display: block;
    position: absolute;
    right: 17px;
    top: 50%;
    width: 14.5px;
    height: 1.8px;
    background: #000;
    transform-origin: center center;
    scale: 1;
    opacity: 1;
    transition: 0.25s ease;
}

.question__content span:nth-of-type(2) {
    rotate: 90deg;
}

.answer-checkbox-1 div,
.answer-checkbox-2 div,
.answer-checkbox-3 div,
.answer-checkbox-4 div,
.answer-checkbox-5 div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d0d1d2;
}

.answer-checkbox-1:checked ~ .answer,
.answer-checkbox-2:checked ~ .answer,
.answer-checkbox-3:checked ~ .answer,
.answer-checkbox-4:checked ~ .answer,
.answer-checkbox-5:checked ~ .answer {
    opacity: 1;
    scale: 1;
    visibility: visible;
}

.answer-checkbox-1:checked ~ .question__text,
.answer-checkbox-2:checked ~ .question__text,
.answer-checkbox-3:checked ~ .question__text,
.answer-checkbox-4:checked ~ .question__text,
.answer-checkbox-5:checked ~ .question__text {
    color: #5d3bee;
    translate: 0 -20px;
}

.question__content input:checked ~ span:nth-of-type(1) {
    background: #5d3bee;
}

.question__content input:checked ~ span:nth-of-type(2) {
    opacity: 0;
    scale: 0;
}

.question__content input:checked ~ .question__separate {
    translate: 0 70px;
}

/* Atmosphere */
.atmos {
    margin-top: 160px;
}

.atmos__inner {
    text-align: center;
}

.atmos__desc {
    width: 528px;
    margin: 20px auto 30px;
}

.atmos__link {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.atmos__media {
    margin-top: 70px;
}

.atmos__thumb {
    width: 100%;
    height: 529px;
    object-fit: cover;
}

/* Contact */
.contact {
    margin-top: 140px;
    background: #fbfaff;
}

.contact__inner {
    text-align: center;
    padding: 50px 0;
}

.contact__heading {
    margin-top: 20px;
}

.contact__desc {
    margin: 20px auto 40px;
    max-width: 564px;
}

/* Footer */
.footer {
    margin-top: 50px;
    padding-bottom: 30px;
}

.copyright {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 97px 0 80px;
}

.copyright::after {
    position: absolute;
    content: "";
    display: block;
    width: 1380px;
    left: -50px;
    top: -20px;
    height: 1px;
    background: #0c0720;
    opacity: 0.4;
}

.copyright__link {
    position: relative;
    display: flex;
    column-gap: 36px;
}

.copyright__link::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 14px;
    left: 131px;
    top: 7px;
    background: #525771;
}

.copyright__info,
.copyright__policy,
.copyright__term {
    color: #525771;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
